iframe{
    width:100vw;
    height:80vh;
    frameborder: 0;
    border:0;
}
label,input{
    font-size: 20px;
}
section{
    margin: 5px;
    padding: 5px;
}

#map{
    width:98vw;
    height:80vh;
    margin:5px;
    padding:20px;

}
.searchCity{
margin:5px;
padding:20px;
background-color: rgba(166, 159, 152, 0.2);
/*
border-color: grey;
background-color: beige;
*/
}
